<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Contact Form</title>
    style
        include ../static/style.css
</head>

<body>
    <div class="container">
        <h1 class="heading">
            | Get Our Gym's Membership Only in 60$ - Fill this form now!
        </h1>
        <div class="form-div">
            <form action="/" method="post" class="form">
                <input type="text" name="name" id="name" placeholder="Enter your name">
                <input type="email" name="email" id="email" placeholder="Enter your Email address">
                <input type="number" name="number" id="number" placeholder="Enter your number">
                <input type="tex" name="age" id="age" placeholder="Enter your age">
                <input type="text" name="gender" id="gender" placeholder="Enter your gender">
                <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your address"></textarea>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>